<% provide :title, t("feature.questions.name") %>
<h1><%= t "feature.questions.name" %></h1>
<div class="row", id="admin_new_question_validate">
  <div class="col-md-10 col-md-offset-1">
    <%=  render "form" %>
  </div>
</div>
